@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
   @font-face {
      font-family: 'jakartaTextRegular';
      src: url('../assets/fonts/PlusJakartaText-Regular.ttf') format('truetype');
   }

   @font-face {
      font-family: 'jakartaTextBold';
      src: url('../assets/fonts/PlusJakartaText-Bold.ttf') format('truetype');
   }

   html {
      scroll-behavior: smooth;
   }

   @media only screen and (max-width: 900px) {
      * {
         cursor: default !important;
      }
      ::-webkit-scrollbar {
         display: none;
      }
   }
}
